---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import { Icon } from 'astro-icon/components';
import WhatsAppButton from '~/components/WhatsAppButton.astro';
const metadata = {
  title: 'Admisiones',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="2025" title="Admisiones" />

  <!-- Custom Table -->
  <div
    class="flex flex-col backdrop-blur bg-white border dark:bg-slate-900 rounded-lg border-gray-200 dark:border-gray-700 lg:p-8 max-w-[80vw] mx-auto p-4 shadow sm:p-6 w-full mb-8"
  >
    <div class="grid grid-cols-2 gap-y-4">
      <div class="flex flex-row gap-4 items-center">
        <Icon name={'vscode-icons:file-type-pdf2'} class="w-10 h-10" />
        <a
          href=`https://iejuanpabloiisoacha.edu.co/files/PROSPECTO_INSTITUCIONAL_2025.pdf`
          target="_blank"
          title="PROSPECTO INSTITUCIONAL 2025">PROSPECTO INSTITUCIONAL 2025 (.pdf)</a
        >
      </div>
      <div class="flex flex-row gap-4 items-center">
        <Icon name={'flat-color-icons:graduation-cap'} class="w-10 h-10" />
        <a href="https://www.iejuanpabloii.notas.zigmadatos.org/" title="PROGRAMA DE NOTAS">ZIGMA NOTAS (web)</a>
      </div>
    </div>
  </div>
  <WhatsAppButton phoneNumber="573196721410" message="Hola, estoy interesado en sus servicios." />
</Layout>
