---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import { Icon } from 'astro-icon/components';
import WhatsAppButton from '~/components/WhatsAppButton.astro';

const metadata = {
  title: 'Documentos Oficiales',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Documentación" title="Documentos Secretaria de Educación" />
  <!-- Sección Documentación 2024 -->
  <div class="mb-8">
    <h2 class="text-center text-2xl font-bold mb-4">Documentación 2024</h2>
    <div
      class="flex flex-col backdrop-blur bg-white border dark:bg-slate-900 rounded-lg
           border-gray-200 dark:border-gray-700 lg:p-8 max-w-[80vw] mx-auto p-4
           shadow sm:p-6 w-full"
    >
      <div class="grid grid-cols-2 gap-y-4">
        <div class="flex flex-row gap-4 items-center">
          <Icon name="vscode-icons:file-type-pdf2" class="w-10 h-10" />
          <a
            href="https://iejuanpabloiisoacha.edu.co/files/1_INSTRUCTIVO_PARA_GESTIONAR_UN_TRASLADO_ENTRE_COLEGIOS_OFICIALES_2025.pdf"
            target="_blank"
            title="INSTRUCTIVO PARA GESTIONAR UN TRASLADO ENTRE COLEGIOS OFICIALES 2025"
          >
            INSTRUCTIVO PARA GESTIONAR UN TRASLADO ENTRE COLEGIOS OFICIALES 2025 (.pdf)
          </a>
        </div>
        <div class="flex flex-row gap-4 items-center">
          <Icon name="vscode-icons:file-type-pdf2" class="w-10 h-10" />
          <a
            href="https://iejuanpabloiisoacha.edu.co/files/POBLACION_PARA_TRASLADO_2025.pdf"
            target="_blank"
            title="POBLACION PARA TRASLADO 2025"
          >
            POBLACION PARA TRASLADO 2025 (.pdf)
          </a>
        </div>
        <div class="flex flex-row gap-4 items-center">
          <Icon name="vscode-icons:file-type-pdf2" class="w-10 h-10" />
          <a
            href="https://iejuanpabloiisoacha.edu.co/files/2_FORMULARIO_DE_TRASLADO_2025.pdf"
            target="_blank"
            title="FORMULARIO DE TRASLADO 2025"
          >
            FORMULARIO DE TRASLADO 2025 (.pdf)
          </a>
        </div>
        <div class="flex flex-row gap-4 items-center">
          <Icon name="vscode-icons:file-type-pdf2" class="w-10 h-10" />
          <a
            href="https://iejuanpabloiisoacha.edu.co/files/Resolucion_1461_28-05-2024_actual_240828_130149.pdf"
            target="_blank"
            title="RESOLUCIÓN 1461"
          >
            RESOLUCIÓN 1461 (.pdf)
          </a>
        </div>
        <div class="flex flex-row gap-4 items-center">
          <Icon name="vscode-icons:file-type-pdf2" class="w-10 h-10" />
          <a
            href="https://iejuanpabloiisoacha.edu.co/files/3_SOLICITUD_DE_CITA_EN_SEM_PARA_RADICAR_TRASLADOS_2025.pdf"
            target="_blank"
            title="SOLICITUD DE CITA EN SEM PARA RADICAR TRASLADOS 2025"
          >
            SOLICITUD DE CITA EN SEM PARA RADICAR TRASLADOS 2025 (.pdf)
          </a>
        </div>
        <div class="flex flex-row gap-4 items-center">
          <Icon name="vscode-icons:file-type-video" class="w-10 h-10" />
          <a
            href="https://iejuanpabloiisoacha.edu.co/files/TRASLADOS_SEC_EDUCACION_V1.mp4"
            target="_blank"
            title="VIDEO TRASLADOS"
          >
            VIDEO TRASLADOS (.mp4)
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección Documentación 2025 -->
  <div class="mb-8">
    <h2 class="text-center text-2xl font-bold mb-4">Documentación 2025</h2>
    <div
      class="flex flex-col backdrop-blur bg-white border dark:bg-slate-900 rounded-lg
           border-gray-200 dark:border-gray-700 lg:p-8 max-w-[80vw] mx-auto p-4
           shadow sm:p-6 w-full"
    >
      <div class="grid grid-cols-2 gap-y-4">
        <div class="flex flex-row gap-4 items-center">
          <Icon name="vscode-icons:file-type-pdf2" class="w-10 h-10" />
          <a
            href="https://iejuanpabloiisoacha.edu.co/files/OFICIO_SEM_DCE_120_2025.pdf"
            target="_blank"
            title="OFICIO SEM DCE 120 2025"
          >
            OFICIO SEM DCE 120 2025.pdf (.pdf)
          </a>
        </div>
        <div class="flex flex-row gap-4 items-center">
          <Icon name="vscode-icons:file-type-pdf2" class="w-10 h-10" />
          <a
            href="https://iejuanpabloiisoacha.edu.co/files/RED_PRESTADORA_DE_SALUD_SOACHA_2025.pdf"
            target="_blank"
            title="RED_PRESTADORA_DE_SALUD_SOACHA_2025"
          >
            RED PRESTADORA DE SALUD SOACHA 2025 (.pdf)
          </a>
        </div>
      </div>
    </div>
  </div>

  <WhatsAppButton phoneNumber="573196721410" message="Hola, estoy interesado en sus servicios." />
</Layout>
