---
// --- Importaciones de Layout y Widgets ---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Note from '~/components/widgets/Note.astro';
import Content from '~/components/widgets/Content.astro';
import Stats from '~/components/widgets/Stats.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Brands from '~/components/widgets/Brands.astro';
import { getPermalink } from '~/utils/permalinks';
// Importación del componente Carousel
import Carousel from '~/components/Carousel.astro';
import WhatsAppButton from '~/components/WhatsAppButton.astro';

// --- Importaciones de Imágenes Locales (desde src/assets/images/) ---
import imgPagoEnLinea from '~/assets/images/pagoEnLinea.png';
import imgCalidad from '~/assets/images/Externado.jpg';
import imgValores from '~/assets/images/ISAIAS.jpeg';
import imgDocentes from '~/assets/images/IZADABANDERA.jpeg';
import imgVirtualidad from '~/assets/images/inicio_virtualidad.png';
import FeriaU1 from '~/assets/images/FeriaUniversitaria.jpeg';
import FeriaU2 from '~/assets/images/FeriaUniversitaria2.jpeg';
import Regional from '~/assets/images/Regional.jpg';
import Memoria from '~/assets/images/Memoria.jpeg';

// --- Metadata de la Página ---
const metadata = {
  title: 'Colegio Juan Pablo II - Inicio',
  ignoreTitleTemplate: true,
};

// --- 2. Define los datos para los slides del carrusel ---
// Se utilizarán las imágenes importadas para el carrusel.
---

<Layout metadata={metadata}>
  <Carousel
    images={[
      { src: FeriaU1.src, alt: 'Calidad Educativa' },
      { src: FeriaU2.src, alt: 'Valores Institucionales' },
      { src: Memoria.src, alt: 'Docentes' },
      { src: Regional.src, alt: 'Virtualidad' },
    ]}
  />
  <Hero2
    tagline="Nueva Web!!"
    actions={[
      { variant: 'primary', target: '_blank', text: 'Contacto', href: getPermalink('/contacto') },
      { text: 'Nuestros servicios', href: getPermalink('/servicios') },
    ]}
    image={{
      class: 'cursor-pointer md:pl-20 hover:scale-[0.95] transition-transform duration-300',
      src: imgPagoEnLinea,
      alt: 'Pago en Linea',
      onclick:
        'window.open("https://www.mipagoamigo.com/MPA_WebSite/ServicePayments/StartPayment?id=4672&searchedCategoryId=&searchedAgreementName=INSTITUTO%20PSICOPEDAGOGICO%20JUAN%20PABLO%20II")',
    }}
    data-animate="animate-fade-in-up"
  >
    <Fragment slot="title" data-animate="animate-fade-in-up">
      Evolucionamos para ti: <br /> Descubre la nueva web del <span class="text-green-800 dark:text-white highlight"
        >Juan Pablo II</span
      >.
    </Fragment>
    <Fragment slot="subtitle" data-animate="animate-fade-in-up" data-animate-delay="300">
      <span class="hidden sm:inline">
        Prepara a tu hijo para el futuro: <span class="font-semibold">Juntos para existir, convivir y aprender</span>.
      </span>
    </Fragment>
  </Hero2>

  {/* Note Widget */}
  <Note data-animate="animate-fade-in-up" />

  {/* Brands Widget (Accesos Rápidos) */}
  <Brands
    title="Accesos Rápidos"
    subtitle="Accede rápidamente a plataformas educativas y recursos digitales. Simplifica tu navegación con estos enlaces a las herramientas más utilizadas."
    icons={[]}
    images={[
      {
        src: '~/assets/images/Tools_ZigmaDatos.png',
        alt: 'Zigma Datos',
        onclick: 'window.open("https://www.iejuanpabloii.zigmadatos.org")',
      },
      {
        src: '~/assets/images/Tools_Biblored.png',
        alt: 'Biblored',
        onclick: 'window.open("https://www.biblored.gov.co")',
      },
      {
        src: '~/assets/images/Tools_BibliotecaNacional.png',
        alt: 'Biblioteca Nacional',
        onclick: 'window.open("https://bibliotecanacional.gov.co/es-co")',
      },
      {
        src: '~/assets/images/Tools_BancoRepublica.png',
        alt: 'Red Cultural Banco de la Republica',
        onclick: 'window.open("https://www.banrepcultural.org/biblioteca-virtual")',
      },
      {
        src: '~/assets/images/Tools_ColombiaAprende.png',
        alt: 'Colombia Aprende',
        onclick: 'window.open("https://colombiaaprende.edu.co")',
      },
    ]}
    data-animate="animate-fade-in-up"
  />

  {/* Content Widget (Calidad Educativa) */}
  <Content
    isReversed
    tagline="Nuestra Oferta"
    title="Formación de Alto Nivel para un Futuro Brillante!"
    items={[
      { title: 'El mejor colegio privado de la comuna uno.' },
      { title: 'Estamos dentro de los mejores colegios privados del municipio de Soacha.' },
      { title: 'Altos indicadores en las pruebas SABER.' },
    ]}
    image={{ src: imgCalidad, alt: 'Calidad Educativa' }}
    data-animate="animate-fade-in-up"
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Calidad Educativa Desde 1992</h3>
      El Instituto Psicopedagógico Juan Pablo II, se caracteriza por entregar educación de la más alta calidad en los niveles
      de preescolar, básica primaria, básica secundaria y media técnica.
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  {/* Content Widget (Valores) */}
  <Content
    isAfterContent
    items={[
      { title: 'Respeto' },
      { title: 'Tolerancia' },
      { title: 'Compromiso' },
      { title: 'Solidaridad' },
      { title: 'Servicio a la comunidad' },
    ]}
    image={{ src: imgValores, alt: 'Valores Institucionales' }}
    data-animate="animate-fade-in-up"
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Valores institucionales</h3>
      El Instituto Psicopedagógico Juan Pablo II, se caracteriza por fomentar en toda la comunidad Juanpablina los siguientes
      valores que fortalecen y dignificar al ser humano.
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  {/* Content Widget (Docentes) */}
  <Content
    isReversed
    isAfterContent
    items={[
      { title: 'Docentes con destacada experiencia laboral.' },
      { title: 'Egresados Juanpablinos.' },
      { title: 'Alto sentido humano.' },
    ]}
    image={{ src: imgDocentes, alt: 'Docentes' }}
    data-animate="animate-fade-in-up"
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Nuestros Docentes</h3>
      Nuestro cuerpo directivo y docente siempre atento a acompañar los procesos institucionales, son profesionales con altos
      conocimientos y sentido humano que nos permiten promover en nuestros educandos. Educación de calidad y con visión de
      servicio al municipio de Soacha y al país.
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  {/* Stats Widget */}
  <Stats
    subtitle="Datos históricos de la prestación del servicio Juanpablino:"
    stats={[
      { title: 'Graduados', amount: '+1200' },
      { title: 'Años de experiencia', amount: '30' },
    ]}
    data-animate="animate-fade-in-up"
  />

  {/* Content Widget (Virtualidad) */}
  <Content
    id="about"
    columns={3}
    image={{ src: imgVirtualidad, alt: 'Virtualidad', loading: 'eager' }}
    data-animate="animate-fade-in-up"
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Virtualidad</h2>
      <p>
        Adaptándonos a esta coyuntura que vivimos a nivel mundial, desde el Instituto Psicopedagógico Juan Pablo II,
        hemos ratificado nuestro compromiso con la transformación de la sociedad a través de la mejor oferta educativa
        virtual, recibiendo reconocimiento por parte de la secretaría de Educación y Cultura de Soacha.
      </p>
      <br />
      <p>
        Contamos con equipo humano idóneo y herramientas tecnológicas implementadas desde el año 2006, con la
        implementación de Zigma datos, página web institucional, Dropbox, redes sociales, WhatsApp Juanpablino,
        Business, y que fortalecimos durante el 2020 con la implementación de correos institucionales y G Suite For
        Education, para ofrecer y garantizar formación bajo el esquema de la virtualidad, con los estándares académicos
        que destacan al Juan Pablo II.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  {/* Testimonials Widget */}
  <Testimonials
    title="Testimonios y Experiencias"
    testimonials={[
      {
        testimonial: 'Nixon Andrés Meneses fue uno de los veinte colombianos beneficiados con la Beca Fulbright...',
        name: '¡Juanpablino de talla internacional!',
        job: 'Estudiante',
      },
      {
        testimonial: `La marca de Juanpablina se lleva para toda la vida...`,
        name: '¡Orgullosamente Juanpablina!',
        job: 'Estudiante',
      },
      {
        testimonial: `El Instituto Psicopedagógico Juan Pablo II, fue mi segundo hogar...`,
        name: 'Luz Ángela Pérez Castiblanco',
        job: 'Estudiante',
      },
    ]}
    data-animate="animate-fade-in-up"
  />

  {/* Chatbot Widget */}
  <WhatsAppButton phoneNumber="573196721410" message="Hola, estoy interesado en sus servicios." />
</Layout>
